<a href="https://colab.research.google.com/github/yanavdsande/MasterThesis/blob/main/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [78]:
df = pd.read_excel('/content/data_chimp_videos.xlsx')

In [79]:
df.head()

,Video_names,Extension,Duration_in_mm_ss,Video_names_processed,Number_of_Chimps,Chimp names,Facial_expression,Fingers_visible,Body_parts_visible,Occlussion,Perspective,Position,Distance,Good_quality,Contrast,In_dataset,#_frames,Labeled
0,"'C0002_loa_lms_180601_15;07_FRE,THE_grm.MP4'",.mp4,2023-02-16 02:33:00,not_processed,2.0,"FRE, THE",0,N.A.,0,0,"Bottom, Side",Tree,Close,0.0,Low,No,N.A.,N.A.
1,"'C0004_loa_LmS_200707_09;18_PAN,FRE(THE)_grm ....",.mp4,2023-02-16 01:56:00,not_processed,3.0,"PAN, FRE, THE",0,N.A.,0,0,Side,Floor,Far,0.0,Low,No,N.A.,N.A.
2,"'C0012_loa_LmS_181202_10;16;39_ARN,LOU_grm.MTS'",.mts,2023-02-16 06:17:00,Video9,2.0,"ARN, LOU",1,N.A.,2,0,Side,Tree,Close,2.0,High,Yes,20,Yes
3,"'C0018_loa_lms_180409_17;32_CHI,ORI_grm.MP4'",.mp4,2023-02-16 01:27:00,Video33,2.0,ChI ORI,2,N.A.,2,0,"Back, Side",Floor,Close,2.0,Low,Yes,20,No
4,"'C0038_loa_lms_180409_17;36_LIT,CHI_grm.MP4'",.mp4,2023-02-16 01:00:00,Video40,2.0,"LIT, CHI",1,N.A.,0,2,Front,Fallen_Tree,Close,2.0,Low,Yes,20,No

In [81]:
df['Duration_string'] = (df['Duration_in_mm_ss'].astype(str))
df['Duration_correct_format'] = [ "00:"+i[11:16] for i in df['Duration_string'] ]

print(df[114:116])

                                Video_names Extension   Duration_in_mm_ss  \
114  C0348_loa_LmS_201115_12;46_NGO,FRE_grm      .mp4 2023-02-16 00:46:00
115    C2177_loa_LmS_201020_CHE,LIT_grm.MP4      .mp4 2023-02-17 00:00:00

    Video_names_processed  Number_of_Chimps Chimp names Facial_expression  \
114         not_processed               2.0    NGO, FRE                 1
115         not_processed               2.0    CHE, LIT              N.A.

    Fingers_visible Body_parts_visible Occlussion  Perspective Position  \
114               0                  1          2  Back, Front   Ground
115            N.A.               N.A.       N.A.         N.A.      NaN

    Distance  Good_quality Contrast In_dataset  #_frames Labeled  \
114    Close           0.0   Medium          No     N.A.    N.A.
115      NaN           NaN      NaN          No     N.A.    N.A.

         Duration_string Duration_correct_format
114  2023-02-16 00:46:00                00:00:46
115  2023-02-17 00:00:00                00:00:00

In [83]:
df['timedeltas'] = pd.to_timedelta(df['Duration_correct_format'])
df.head()

,Video_names,Extension,Duration_in_mm_ss,Video_names_processed,Number_of_Chimps,Chimp names,Facial_expression,Fingers_visible,Body_parts_visible,Occlussion,...,Position,Distance,Good_quality,Contrast,In_dataset,#_frames,Labeled,Duration_string,Duration_correct_format,timedeltas
0,"'C0002_loa_lms_180601_15;07_FRE,THE_grm.MP4'",.mp4,2023-02-16 02:33:00,not_processed,2.0,"FRE, THE",0,N.A.,0,0,...,Tree,Close,0.0,Low,No,N.A.,N.A.,2023-02-16 02:33:00,00:02:33,0 days 00:02:33
1,"'C0004_loa_LmS_200707_09;18_PAN,FRE(THE)_grm ....",.mp4,2023-02-16 01:56:00,not_processed,3.0,"PAN, FRE, THE",0,N.A.,0,0,...,Floor,Far,0.0,Low,No,N.A.,N.A.,2023-02-16 01:56:00,00:01:56,0 days 00:01:56
2,"'C0012_loa_LmS_181202_10;16;39_ARN,LOU_grm.MTS'",.mts,2023-02-16 06:17:00,Video9,2.0,"ARN, LOU",1,N.A.,2,0,...,Tree,Close,2.0,High,Yes,20,Yes,2023-02-16 06:17:00,00:06:17,0 days 00:06:17
3,"'C0018_loa_lms_180409_17;32_CHI,ORI_grm.MP4'",.mp4,2023-02-16 01:27:00,Video33,2.0,ChI ORI,2,N.A.,2,0,...,Floor,Close,2.0,Low,Yes,20,No,2023-02-16 01:27:00,00:01:27,0 days 00:01:27
4,"'C0038_loa_lms_180409_17;36_LIT,CHI_grm.MP4'",.mp4,2023-02-16 01:00:00,Video40,2.0,"LIT, CHI",1,N.A.,0,2,...,Fallen_Tree,Close,2.0,Low,Yes,20,No,2023-02-16 01:00:00,00:01:00,0 days 00:01:00

In [101]:
df_good_quality = df.loc[df['Good_quality'].isin([2,3])]
df_good_quality.head()

,Video_names,Extension,Duration_in_mm_ss,Video_names_processed,Number_of_Chimps,Chimp names,Facial_expression,Fingers_visible,Body_parts_visible,Occlussion,...,Position,Distance,Good_quality,Contrast,In_dataset,#_frames,Labeled,Duration_string,Duration_correct_format,timedeltas
2,"'C0012_loa_LmS_181202_10;16;39_ARN,LOU_grm.MTS'",.mts,2023-02-16 06:17:00,Video9,2.0,"ARN, LOU",1,N.A.,2,0,...,Tree,Close,2.0,High,Yes,20,Yes,2023-02-16 06:17:00,00:06:17,0 days 00:06:17
3,"'C0018_loa_lms_180409_17;32_CHI,ORI_grm.MP4'",.mp4,2023-02-16 01:27:00,Video33,2.0,ChI ORI,2,N.A.,2,0,...,Floor,Close,2.0,Low,Yes,20,No,2023-02-16 01:27:00,00:01:27,0 days 00:01:27
4,"'C0038_loa_lms_180409_17;36_LIT,CHI_grm.MP4'",.mp4,2023-02-16 01:00:00,Video40,2.0,"LIT, CHI",1,N.A.,0,2,...,Fallen_Tree,Close,2.0,Low,Yes,20,No,2023-02-16 01:00:00,00:01:00,0 days 00:01:00
8,"'C0118_loa_lms_180416_08;13_FRE,LOU_grm.MP4'",.mp4,2023-02-16 01:02:00,Video24,2.0,"FRE, LOU",2,N.A.,2,0,...,Floor,Close,2.0,Low,Yes,20,Yes,2023-02-16 01:02:00,00:01:02,0 days 00:01:02
22,"'C0320_loa_LmS_201119_10;59_CHI,FRE_grm.MP4'",.mp4,2023-02-16 01:47:00,video42,3.0,"CHI, FRE, SPEC",2,N.A.,1,0,...,Floor,MACRO,2.0,High,Yes,20,No,2023-02-16 01:47:00,00:01:47,0 days 00:01:47

In [4]:
print(f"This is the amount of videos we have: {len(df['Video_names'])}")

This is the amount of videos we have: 164

In [87]:
print(f"This is the total duration of videos we have: {df['timedeltas'].sum()}")

This is the total duration of videos we have: 0 days 05:42:14

In [102]:
print(f"This is the amount of high quality videos we have: {len(df_good_quality)}")

This is the amount of high quality videos we have: 75

In [103]:
print(f"The total duration of high quality video data is: { df_good_quality['timedeltas'].sum()}")

The total duration of high quality video data is: 0 days 03:04:43

In [109]:
print(f"In the dataset we have: {len(df_good_quality['Contrast']=='Low')} videos of low contrast, {len(df_good_quality['Contrast']=='High')} of high contrast and {len(df_good_quality['Contrast'] =='Medium')} videos of medium contrast")

In the dataset we have: 75 videos of low contrast, 75 of high contrast and 75 videos of medium contrast

In [116]:
print(df_good_quality['Contrast'].value_counts(normalize=True) * 100)

High      48.000000
Medium    26.666667
Low       25.333333
Name: Contrast, dtype: float64

In [117]:
print(df_good_quality['Distance'].value_counts(normalize=True) * 100)

Close    88.000000
MACRO     9.333333
Far       2.666667
Name: Distance, dtype: float64

In [121]:
print(df_good_quality['Occlussion'].value_counts(normalize=True) * 100)

0    42.666667
1    42.666667
2    14.666667
Name: Occlussion, dtype: float64

In [122]:
print(df_good_quality['Position'].value_counts(normalize=True) * 100)

Fallen_Tree    44.000000
Ground         38.666667
Floor           6.666667
Tree            5.333333
Grass           5.333333
Name: Position, dtype: float64